@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/user-info/user-info.css);
@import url(../blocks/button/button.css);
@import url(../blocks/places-list/places-list.css);
@import url(../blocks/place-card/place-card.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup-edit/popup-edit.css);
@import url(../blocks/popup-image/popup.css);

body {
  background-color: #000;
}

.error {
  margin-bottom: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;
  min-height: 15px;

  color: #ff0000;
  background: none;
}
.place-card__like-icon:active, .place-card__like-icon:focus {
  outline: none;
}
