.popup-image__big {
  max-width: 80vw;
  max-height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.active {
  background-color: black;
  color: white;
}
